## Importação das Bibliotecas

In [1]:
# instalando pandera, pois ele não vem no colab
!pip install pandera

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.13.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.10.2)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.1.1)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.8.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pandera) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

In [2]:
# importando bibliotecas
import pandas as pd
import pandera as pa

In [3]:
# setando a quantidade de colunas da visualização
pd.set_option('display.max_columns',100)
#pd.set_option('display.max_rows')

## Extraindo a Base de Dados

In [4]:
# extraindo da origem
# passei a função parse_dates para as duas colunas 'Year_Birth','Dt_Customer' 
# apesar de 'Year_Birth' trazer apenas a informação do ano, o tipo datetime se torna em nossas análises
# também passei o dayfirst, pois a coluna 'Dt_Customer' trouxe os dias primeiro (já que não existe mês 19)
df = pd.read_csv('https://storage.googleapis.com/aulas-bc26-dados-gbs/marketing/marketing_campaign.csv%20-%20marketing_campaign.csv.csv',parse_dates=['Year_Birth','Dt_Customer'], dayfirst=True)

In [5]:
# visualizando df
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957-01-01,Graduation,Single,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954-01-01,Graduation,Single,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965-01-01,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984-01-01,Graduation,Together,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981-01-01,PhD,Married,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967-01-01,Graduation,Married,61223.0,0,1,2013-06-13,46,709,43,182,42,118,247,2,9,3,4,5,0,0,0,0,0,0,3,11,0
2236,4001,1946-01-01,PhD,Together,64014.0,2,1,2014-06-10,56,406,0,30,0,0,8,7,8,2,5,7,0,0,0,1,0,0,3,11,0
2237,7270,1981-01-01,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,48,217,32,12,24,1,2,3,13,6,0,1,0,0,0,0,3,11,0
2238,8235,1956-01-01,Master,Together,69245.0,0,1,2014-01-24,8,428,30,214,80,30,61,2,6,5,10,3,0,0,0,0,0,0,3,11,0
2239,9405,1954-01-01,PhD,Married,52869.0,1,1,2012-10-15,40,84,3,61,2,1,21,3,3,1,4,7,0,0,0,0,0,0,3,11,1

In [6]:
# verificando tipos de colunas
df.dtypes

ID                              int64
Year_Birth             datetime64[ns]
Education                      object
Marital_Status                 object
Income                        float64
Kidhome                         int64
Teenhome                        int64
Dt_Customer            datetime64[ns]
Recency                         int64
MntWines                        int64
MntFruits                       int64
MntMeatProducts                 int64
MntFishProducts                 int64
MntSweetProducts                int64
MntGoldProds                    int64
NumDealsPurchases               int64
NumWebPurchases                 int64
NumCatalogPurchases             int64
NumStorePurchases               int64
NumWebVisitsMonth               int64
AcceptedCmp3                    int64
AcceptedCmp4                    int64
AcceptedCmp5                    int64
AcceptedCmp1                    int64
AcceptedCmp2                    int64
Complain                        int64
Z_CostContact                   int64
Z_Revenue                       int64
Response                        int64
dtype: object

## Pré-análise

In [7]:
# analisando começo da planilha
# 0 = False
# 1 = True
df.head(3)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957-01-01,Graduation,Single,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954-01-01,Graduation,Single,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965-01-01,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0

In [8]:
# analisando final da planilha
df.tail(3)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
2237,7270,1981-01-01,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,48,217,32,12,24,1,2,3,13,6,0,1,0,0,0,0,3,11,0
2238,8235,1956-01-01,Master,Together,69245.0,0,1,2014-01-24,8,428,30,214,80,30,61,2,6,5,10,3,0,0,0,0,0,0,3,11,0
2239,9405,1954-01-01,PhD,Married,52869.0,1,1,2012-10-15,40,84,3,61,2,1,21,3,3,1,4,7,0,0,0,0,0,0,3,11,1

In [9]:
# verificação se há alguma coluna em que os dados são unicos 
print(df.ID.is_unique)
# foi verificado que a coluna ID tem valores únicos, porém não irei setá-la como rótulo
# usualmente se utiliza o rótulo padrão do pandas para facilitar a análise

True

## Tratamento de Dados

In [10]:
# backup do dataframe original
dfback = df.copy()

### Renomeando e reorganizando colunas

In [11]:
df.rename(columns={
    'ID':'id',
    'Year_Birth':'ano_nascimento',
    'Education':'escolaridade',
    'Marital_Status':'est_civil',
    'Income':'renda_anual',
    'Kidhome':'qtd_criancas',
    'Teenhome':'qtd_adolescentes',
    'Dt_Customer':'dia_inscricao',
    'Recency':'data_ultima_compra',
    'MntWines':'vgasto_vinho',
    'MntFruits':'vgasto_frutas',
    'MntMeatProducts':'vgasto_carne',
    'MntFishProducts':'vgasto_peixe',
    'MntSweetProducts':'vgasto_doce',
    'MntGoldProds':'vgasto_ouro',
    'NumDealsPurchases':'ncompras_desconto',
    'NumWebPurchases':'ncompras_site',
    'NumCatalogPurchases':'ncompras_catalogo',
    'NumStorePurchases':'ncompras_loja',
    'NumWebVisitsMonth':'nvisita_mes_site',
    'AcceptedCmp3':'acc_oferta3',
    'AcceptedCmp4':'acc_oferta4',
    'AcceptedCmp5':'acc_oferta5',
    'AcceptedCmp1':'acc_oferta1',
    'AcceptedCmp2':'acc_oferta2',
    'Complain':'reclamacao',
    'Z_CostContact':'custo_contato',
    'Z_Revenue':'receita_pos',
    'Response':'acc_ofertafinal'
    }, inplace=True)

In [12]:
# criando coluna com a soma de crianças e adolescentes formando dependentes
df['qtd_dependentes'] = df['qtd_criancas'] + df['qtd_adolescentes']

In [13]:
# reorganizando ordem das colunas
df = df[['id',
         'dia_inscricao',
         'ano_nascimento',
         'escolaridade',
         'est_civil',
         'renda_anual',
         'qtd_dependentes',
         'data_ultima_compra',
         'vgasto_vinho',
         'vgasto_frutas',
         'vgasto_carne',
         'vgasto_peixe',
         'vgasto_doce',
         'vgasto_ouro',
         'ncompras_desconto',
         'ncompras_catalogo',
         'ncompras_loja',
         'ncompras_site',
         'nvisita_mes_site',
         'acc_oferta1', 
         'acc_oferta2',
         'acc_oferta3',
         'acc_oferta4',
         'acc_oferta5',
         'acc_ofertafinal',
         'reclamacao',
         'custo_contato',
         'receita_pos']]

In [14]:
df.head(1)

,id,dia_inscricao,ano_nascimento,escolaridade,est_civil,renda_anual,qtd_dependentes,data_ultima_compra,vgasto_vinho,vgasto_frutas,vgasto_carne,vgasto_peixe,vgasto_doce,vgasto_ouro,ncompras_desconto,ncompras_catalogo,ncompras_loja,ncompras_site,nvisita_mes_site,acc_oferta1,acc_oferta2,acc_oferta3,acc_oferta4,acc_oferta5,acc_ofertafinal,reclamacao,custo_contato,receita_pos
0,5524,2012-09-04,1957-01-01,Graduation,Single,58138.0,0,58,635,88,546,172,88,88,3,10,4,8,7,0,0,0,0,0,1,0,3,11

### Procurando valores únicos e inconsistentes

In [ ]:
# dados ok
sorted(pd.unique(df['id']))

In [16]:
# verificando id zerada
ftid = df.id == 0
df.loc[ftid]
# não podemos apagar, pois os dados existem

,id,dia_inscricao,ano_nascimento,escolaridade,est_civil,renda_anual,qtd_dependentes,data_ultima_compra,vgasto_vinho,vgasto_frutas,vgasto_carne,vgasto_peixe,vgasto_doce,vgasto_ouro,ncompras_desconto,ncompras_catalogo,ncompras_loja,ncompras_site,nvisita_mes_site,acc_oferta1,acc_oferta2,acc_oferta3,acc_oferta4,acc_oferta5,acc_ofertafinal,reclamacao,custo_contato,receita_pos
214,0,2013-05-04,1985-01-01,Graduation,Married,70951.0,0,66,239,10,554,254,87,54,1,4,9,3,1,0,0,0,0,0,0,0,3,11

In [ ]:
# dados ok
sorted(pd.unique(df['dia_inscricao']))

In [ ]:
# ponto de atenção: encotramos anos 1800
sorted(pd.unique(df['ano_nascimento']))

In [19]:
# dados em inglês, fazer tradução 
sorted(pd.unique(df['escolaridade']))

['2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD']

In [20]:
# após pesquisas sobre o sistema de ensino dos EUA, foi descoberto que second cycle pode ser considerado como mestrado
df.replace(['2n Cycle', 'Master'],'mestrado',inplace=True)
# após pesquisas sobre o ensino nos EUA, foi descoberto que o ensino básico contempla até o fim da escola
df.replace('Basic','medio',inplace=True)
# gaduation é o equivalente a nossa graduação
df.replace('Graduation','graduacao',inplace=True)
# phd equivale ao doutorado
df.replace('PhD','doutorado',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [21]:
df

,id,dia_inscricao,ano_nascimento,escolaridade,est_civil,renda_anual,qtd_dependentes,data_ultima_compra,vgasto_vinho,vgasto_frutas,vgasto_carne,vgasto_peixe,vgasto_doce,vgasto_ouro,ncompras_desconto,ncompras_catalogo,ncompras_loja,ncompras_site,nvisita_mes_site,acc_oferta1,acc_oferta2,acc_oferta3,acc_oferta4,acc_oferta5,acc_ofertafinal,reclamacao,custo_contato,receita_pos
0,5524,2012-09-04,1957-01-01,graduacao,Single,58138.0,0,58,635,88,546,172,88,88,3,10,4,8,7,0,0,0,0,0,1,0,3,11
1,2174,2014-03-08,1954-01-01,graduacao,Single,46344.0,2,38,11,1,6,2,1,6,2,1,2,1,5,0,0,0,0,0,0,0,3,11
2,4141,2013-08-21,1965-01-01,graduacao,Together,71613.0,0,26,426,49,127,111,21,42,1,2,10,8,4,0,0,0,0,0,0,0,3,11
3,6182,2014-02-10,1984-01-01,graduacao,Together,26646.0,1,26,11,4,20,10,3,5,2,0,4,2,6,0,0,0,0,0,0,0,3,11
4,5324,2014-01-19,1981-01-01,doutorado,Married,58293.0,1,94,173,43,118,46,27,15,5,3,6,5,5,0,0,0,0,0,0,0,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,2013-06-13,1967-01-01,graduacao,Married,61223.0,1,46,709,43,182,42,118,247,2,3,4,9,5,0,0,0,0,0,0,0,3,11
2236,4001,2014-06-10,1946-01-01,doutorado,Together,64014.0,3,56,406,0,30,0,0,8,7,2,5,8,7,1,0,0,0,0,0,0,3,11
2237,7270,2014-01-25,1981-01-01,graduacao,Divorced,56981.0,0,91,908,48,217,32,12,24,1,3,13,2,6,0,0,0,1,0,0,0,3,11
2238,8235,2014-01-24,1956-01-01,mestrado,Together,69245.0,1,8,428,30,214,80,30,61,2,5,10,6,3,0,0,0,0,0,0,0,3,11
2239,9405,2012-10-15,1954-01-01,doutorado,Married,52869.0,2,40,84,3,61,2,1,21,3,1,4,3,7,0,0,0,0,0,1,0,3,11

In [22]:
# algumas incosistências encontradas: Absurd, YOLO e Together
# vamos traduzir os dados 
sorted(pd.unique(df['est_civil']))

['Absurd',
 'Alone',
 'Divorced',
 'Married',
 'Single',
 'Together',
 'Widow',
 'YOLO']

In [23]:
# vendo as inconsistências da coluna est_civil
ftecivil1 = df.est_civil == 'Absurd'
ftecivil2 = df.est_civil == 'YOLO'
df.loc[ftecivil1 | ftecivil2]
# aparentemente as linhas 2177 e 2202 contém os mesmos dados, porém o ID é diferente, então não droparei a linha

,id,dia_inscricao,ano_nascimento,escolaridade,est_civil,renda_anual,qtd_dependentes,data_ultima_compra,vgasto_vinho,vgasto_frutas,vgasto_carne,vgasto_peixe,vgasto_doce,vgasto_ouro,ncompras_desconto,ncompras_catalogo,ncompras_loja,ncompras_site,nvisita_mes_site,acc_oferta1,acc_oferta2,acc_oferta3,acc_oferta4,acc_oferta5,acc_ofertafinal,reclamacao,custo_contato,receita_pos
2093,7734,2012-12-19,1993-01-01,graduacao,Absurd,79244.0,0,58,471,102,125,212,61,245,1,10,7,4,1,1,0,0,0,1,1,0,3,11
2134,4369,2014-01-10,1957-01-01,mestrado,Absurd,65487.0,0,48,240,67,500,199,0,163,3,5,6,3,2,0,0,0,0,0,0,0,3,11
2177,492,2012-10-18,1973-01-01,doutorado,YOLO,48432.0,1,3,322,3,50,4,3,42,5,1,6,7,8,0,0,0,0,0,0,0,3,11
2202,11133,2012-10-18,1973-01-01,doutorado,YOLO,48432.0,1,3,322,3,50,4,3,42,5,1,6,7,8,0,0,0,0,0,1,0,3,11

In [ ]:
# por não saber do que se trata Absurd e YOLO, preferi mudar estes dados para NA 
# já que são muito poucos em relação ao tamanho da tabela
df.replace(['Absurd', 'YOLO'],pd.NA,inplace=True)
# alone pode significar desacompanhando, então assumimos que seja uma pessoa solteira
df.replace(['Alone', 'Single'],'solteiro',inplace=True)
df.replace(['Divorced'],'divorciado',inplace=True)
# após pesquisa, vi que nos EUA casais casados podem morar em casas separadas e se entitulam Together
df.replace(['Married', 'Together'],'casado',inplace=True)
# considerarei widow como viuvo apesar de significar viuva, apenas para seguir o padrão pt/br que usa masculino
df.replace('Widow','viuvo',inplace=True)

In [36]:
df

,id,dia_inscricao,ano_nascimento,escolaridade,est_civil,renda_anual,qtd_dependentes,data_ultima_compra,vgasto_vinho,vgasto_frutas,vgasto_carne,vgasto_peixe,vgasto_doce,vgasto_ouro,ncompras_desconto,ncompras_catalogo,ncompras_loja,ncompras_site,nvisita_mes_site,acc_oferta1,acc_oferta2,acc_oferta3,acc_oferta4,acc_oferta5,acc_ofertafinal,reclamacao,custo_contato,receita_pos
0,5524,2012-09-04,1957-01-01,graduacao,solteiro,58138.0,0,58,635,88,546,172,88,88,3,10,4,8,7,0,0,0,0,0,1,0,3,11
1,2174,2014-03-08,1954-01-01,graduacao,solteiro,46344.0,2,38,11,1,6,2,1,6,2,1,2,1,5,0,0,0,0,0,0,0,3,11
2,4141,2013-08-21,1965-01-01,graduacao,casado,71613.0,0,26,426,49,127,111,21,42,1,2,10,8,4,0,0,0,0,0,0,0,3,11
3,6182,2014-02-10,1984-01-01,graduacao,casado,26646.0,1,26,11,4,20,10,3,5,2,0,4,2,6,0,0,0,0,0,0,0,3,11
4,5324,2014-01-19,1981-01-01,doutorado,casado,58293.0,1,94,173,43,118,46,27,15,5,3,6,5,5,0,0,0,0,0,0,0,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,2013-06-13,1967-01-01,graduacao,casado,61223.0,1,46,709,43,182,42,118,247,2,3,4,9,5,0,0,0,0,0,0,0,3,11
2236,4001,2014-06-10,1946-01-01,doutorado,casado,64014.0,3,56,406,0,30,0,0,8,7,2,5,8,7,1,0,0,0,0,0,0,3,11
2237,7270,2014-01-25,1981-01-01,graduacao,divorciado,56981.0,0,91,908,48,217,32,12,24,1,3,13,2,6,0,0,0,1,0,0,0,3,11
2238,8235,2014-01-24,1956-01-01,mestrado,casado,69245.0,1,8,428,30,214,80,30,61,2,5,10,6,3,0,0,0,0,0,0,0,3,11
2239,9405,2012-10-15,1954-01-01,doutorado,casado,52869.0,2,40,84,3,61,2,1,21,3,1,4,3,7,0,0,0,0,0,1,0,3,11

In [ ]:
# inconsistências encontradas: 'nan'
sorted(pd.unique(df['renda_anual']))

In [41]:
# substituindo valores 'nan'
df.replace('nan',pd.NA,inplace=True)

In [64]:
# dados ok
# sorted(pd.unique(df['qtd_dependentes']))
# sorted(pd.unique(df['data_ultima_compra']))
# sorted(pd.unique(df['vgasto_vinho']))
# sorted(pd.unique(df['vgasto_frutas']))
# sorted(pd.unique(df['vgasto_carne']))
# sorted(pd.unique(df['vgasto_peixe']))
# sorted(pd.unique(df['vgasto_doce']))
# sorted(pd.unique(df['vgasto_ouro']))
# sorted(pd.unique(df['ncompras_desconto']))
# sorted(pd.unique(df['ncompras_catalogo']))
# sorted(pd.unique(df['ncompras_loja']))
# sorted(pd.unique(df['ncompras_site']))
# sorted(pd.unique(df['nvisita_mes_site']))
# sorted(pd.unique(df['acc_oferta1']))
# sorted(pd.unique(df['acc_oferta2']))
# sorted(pd.unique(df['acc_oferta3']))
# sorted(pd.unique(df['acc_oferta4']))
# sorted(pd.unique(df['acc_oferta5']))
# sorted(pd.unique(df['acc_ofertafinal']))
# sorted(pd.unique(df['reclamacao']))

In [65]:
# analisei que nessas duas colunas haviam apenas um valor
sorted(pd.unique(df['custo_contato']))
sorted(pd.unique(df['receita_pos']))

[11]

In [ ]:
# fazendo drop de colunas com valores que são todos iguais
df.drop(['custo_contato', 'receita_pos'], axis=1, inplace=True)

In [67]:
df

,id,dia_inscricao,ano_nascimento,escolaridade,est_civil,renda_anual,qtd_dependentes,data_ultima_compra,vgasto_vinho,vgasto_frutas,vgasto_carne,vgasto_peixe,vgasto_doce,vgasto_ouro,ncompras_desconto,ncompras_catalogo,ncompras_loja,ncompras_site,nvisita_mes_site,acc_oferta1,acc_oferta2,acc_oferta3,acc_oferta4,acc_oferta5,acc_ofertafinal,reclamacao
0,5524,2012-09-04,1957-01-01,graduacao,solteiro,58138.0,0,58,635,88,546,172,88,88,3,10,4,8,7,0,0,0,0,0,1,0
1,2174,2014-03-08,1954-01-01,graduacao,solteiro,46344.0,2,38,11,1,6,2,1,6,2,1,2,1,5,0,0,0,0,0,0,0
2,4141,2013-08-21,1965-01-01,graduacao,casado,71613.0,0,26,426,49,127,111,21,42,1,2,10,8,4,0,0,0,0,0,0,0
3,6182,2014-02-10,1984-01-01,graduacao,casado,26646.0,1,26,11,4,20,10,3,5,2,0,4,2,6,0,0,0,0,0,0,0
4,5324,2014-01-19,1981-01-01,doutorado,casado,58293.0,1,94,173,43,118,46,27,15,5,3,6,5,5,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,2013-06-13,1967-01-01,graduacao,casado,61223.0,1,46,709,43,182,42,118,247,2,3,4,9,5,0,0,0,0,0,0,0
2236,4001,2014-06-10,1946-01-01,doutorado,casado,64014.0,3,56,406,0,30,0,0,8,7,2,5,8,7,1,0,0,0,0,0,0
2237,7270,2014-01-25,1981-01-01,graduacao,divorciado,56981.0,0,91,908,48,217,32,12,24,1,3,13,2,6,0,0,0,1,0,0,0
2238,8235,2014-01-24,1956-01-01,mestrado,casado,69245.0,1,8,428,30,214,80,30,61,2,5,10,6,3,0,0,0,0,0,0,0
2239,9405,2012-10-15,1954-01-01,doutorado,casado,52869.0,2,40,84,3,61,2,1,21,3,1,4,3,7,0,0,0,0,0,1,0

## Validação de Dados

In [68]:
df.dtypes

id                             int64
dia_inscricao         datetime64[ns]
ano_nascimento        datetime64[ns]
escolaridade                  object
est_civil                     object
renda_anual                  float64
qtd_dependentes                int64
data_ultima_compra             int64
vgasto_vinho                   int64
vgasto_frutas                  int64
vgasto_carne                   int64
vgasto_peixe                   int64
vgasto_doce                    int64
vgasto_ouro                    int64
ncompras_desconto              int64
ncompras_catalogo              int64
ncompras_loja                  int64
ncompras_site                  int64
nvisita_mes_site               int64
acc_oferta1                    int64
acc_oferta2                    int64
acc_oferta3                    int64
acc_oferta4                    int64
acc_oferta5                    int64
acc_ofertafinal                int64
reclamacao                     int64
dtype: object

In [74]:
# criando schema de validação de dados
schema = pa.DataFrameSchema(
    columns = {
        'id':pa.Column(pa.Int),
        'dia_inscricao':pa.Column(pa.DateTime),
        'ano_nascimento':pa.Column(pa.DateTime),
        'escolaridade':pa.Column(pa.String),
        'est_civil':pa.Column(pa.String,nullable=True),
        'renda_anual':pa.Column(pa.Float,nullable=True),
        'qtd_dependentes':pa.Column(pa.Int),
        'data_ultima_compra':pa.Column(pa.Int),
        'vgasto_vinho':pa.Column(pa.Int),
        'vgasto_frutas':pa.Column(pa.Int),
        'vgasto_carne':pa.Column(pa.Int),
        'vgasto_peixe':pa.Column(pa.Int),
        'vgasto_doce':pa.Column(pa.Int),
        'vgasto_ouro':pa.Column(pa.Int),
        'ncompras_desconto':pa.Column(pa.Int),
        'ncompras_catalogo':pa.Column(pa.Int),
        'ncompras_loja':pa.Column(pa.Int),
        'ncompras_site':pa.Column(pa.Int),
        'nvisita_mes_site':pa.Column(pa.Int),
        'acc_oferta1':pa.Column(pa.Int), 
        'acc_oferta2':pa.Column(pa.Int),
        'acc_oferta3':pa.Column(pa.Int),
        'acc_oferta4':pa.Column(pa.Int),
        'acc_oferta5':pa.Column(pa.Int),
        'acc_ofertafinal':pa.Column(pa.Int),
        'reclamacao':pa.Column(pa.Int)
    }
)

In [75]:
# validador do DF
schema.validate(df)

,id,dia_inscricao,ano_nascimento,escolaridade,est_civil,renda_anual,qtd_dependentes,data_ultima_compra,vgasto_vinho,vgasto_frutas,vgasto_carne,vgasto_peixe,vgasto_doce,vgasto_ouro,ncompras_desconto,ncompras_catalogo,ncompras_loja,ncompras_site,nvisita_mes_site,acc_oferta1,acc_oferta2,acc_oferta3,acc_oferta4,acc_oferta5,acc_ofertafinal,reclamacao
0,5524,2012-09-04,1957-01-01,graduacao,solteiro,58138.0,0,58,635,88,546,172,88,88,3,10,4,8,7,0,0,0,0,0,1,0
1,2174,2014-03-08,1954-01-01,graduacao,solteiro,46344.0,2,38,11,1,6,2,1,6,2,1,2,1,5,0,0,0,0,0,0,0
2,4141,2013-08-21,1965-01-01,graduacao,casado,71613.0,0,26,426,49,127,111,21,42,1,2,10,8,4,0,0,0,0,0,0,0
3,6182,2014-02-10,1984-01-01,graduacao,casado,26646.0,1,26,11,4,20,10,3,5,2,0,4,2,6,0,0,0,0,0,0,0
4,5324,2014-01-19,1981-01-01,doutorado,casado,58293.0,1,94,173,43,118,46,27,15,5,3,6,5,5,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,2013-06-13,1967-01-01,graduacao,casado,61223.0,1,46,709,43,182,42,118,247,2,3,4,9,5,0,0,0,0,0,0,0
2236,4001,2014-06-10,1946-01-01,doutorado,casado,64014.0,3,56,406,0,30,0,0,8,7,2,5,8,7,1,0,0,0,0,0,0
2237,7270,2014-01-25,1981-01-01,graduacao,divorciado,56981.0,0,91,908,48,217,32,12,24,1,3,13,2,6,0,0,0,1,0,0,0
2238,8235,2014-01-24,1956-01-01,mestrado,casado,69245.0,1,8,428,30,214,80,30,61,2,5,10,6,3,0,0,0,0,0,0,0
2239,9405,2012-10-15,1954-01-01,doutorado,casado,52869.0,2,40,84,3,61,2,1,21,3,1,4,3,7,0,0,0,0,0,1,0

## Filtros

## Group By

## Plotagem

## Load